@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-fundo: #322600;
    --cor-boxes: #4D3B00;
    --cor-texto: black;
    --cor-texto-ouro: #886800;
    --cor-botao-primary: #C19400;
    --cor-texto-secondary: #866700;
    --cor-botao-hover-primary: #A47E00;
    --cor-botao-hover-secondary: #866700;
    --cor-botao-secondary: #A47E00;
    --cor-sombra: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, p, a, label {
    color: var(--cor-texto);
    margin-bottom: 0;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}